<h1>Listing races</h1>

<table>
  <tr>
    <th>Race on</th>
    <th>Name</th>
    <th>Location</th>
  </tr>

<% @races.each do |race| %>
  <tr>
    <td><%=h race.race_on %></td>
    <td><%=h race.name %></td>
    <td><%=h race.location %></td>
    <td><%= link_to 'Show', race %></td>
    <td><%= link_to 'Edit', edit_race_path(race) %></td>
    <td><%= link_to 'Destroy', race, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New race', new_race_path %>