<p>
  <b>First name:</b>
  <%=h @athlete.first_name %>
</p>

<p>
  <b>Last name:</b>
  <%=h @athlete.last_name %>
</p>

<p>
  <b>City:</b>
  <%=h @athlete.city %>
</p>


<%= link_to 'Edit', edit_athlete_path(@athlete) %> |
<%= link_to 'Back', athletes_path %>

<p>
<b>races:</b>
<ul>
<% for race in @athlete.races %>
    <li><%=h race.name %>
      <ul>
      <% for result in race.results %>
        <li>
          <% if result.athlete_id == @athlete.id %>
            <b><%=h result.overall_place %> | <%=h result.gun_time %></b>
          <% else %>
            <%=h result.overall_place %> | <%=h result.gun_time %>
          <% end %>
        </li>
      <% end %>
      </ul>
    </li>
<% end %>
</ul>
</p>